<div class="container">
	<div class="row" style="text-align: center">
		<h1>
			<strong>MISO EMAIL&nbsp;</strong>
		</h1>
		<h2>
			<strong>Verificaci&oacute;n de usuario</strong>
		</h2>
	</div>
	<div class="row">
		<table  style="border-style: solid">
			<tr>
				<td>
					<h2>
						<strong>Notifiaci&oacute;n al Usuario: </strong>{name}
					</h2>
				</td>
			</tr>
			<tr>
				<td>Se ha completado la verificaci&oacute;n del usuario con el siguienre resultado:</td>
			</tr>
			<tr>
				<td>DNI:</td>
				<td>{dni}</td>
			</tr>
            <tr>
				<td>RUV:</td>
				<td>{ruv}</td>
			</tr>
            <tr>
				<td>Estado:</td>
				<td>{estado}</td>
			</tr>
            <tr>
				<td>Fecha creaci&oacute;n:</td>
				<td>{createAt}</td>
			</tr>
            <tr>
				<td>Equipo Grupo 8</td>
			</tr>
		</table>
	</div>
</div>

